<link rel="stylesheet" href="/alex/home.css">
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
<link href="./font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/stylesheets/bootstrap.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"> </script>
<script src="/javascript/jquery.validate.js"> </script>
<script src="/javascript/bootstrap.js"> </script>
<script src="/javascript/application.js"> </script>

    <!-- Header -->
    <header id="top" class="header">
      <video autoplay="false" muted="muted" preload="auto" loop>
          <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Aloha-Mundo.mp4" type="video/mp4">
      </video>
        <div class="text-vertical-center">
            <h1>Welcome to RubyPad</h1>
            <h3>Your ideal solution to group projects</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg page-scroll">Find Out More</a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>A one way ticket to group collaboration and success</h2>
                    <p class="lead">Just one login away.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>What RubyPad offers</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Save your projects</strong>
                                </h4>
                                <p>With our database, users are able to create a project and save them in order to pick up right from where they left off</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Interact with senior developpers</strong>
                                </h4>
                                <p>You are able to easily contact anybody from junior developper to adept hackers and invite them to your project for learning and/or guidance</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-file-code-o fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Compile your code</strong>
                                </h4>
                                <p>Thanks to our built in compiler, you are able to not only share Ruby code but also compile it</p>                    
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-comments-o fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Interact with your team</strong>
                                </h4>
                                <p>With our built in chat, you are able to collaborate and communicate with your team members working on the same project</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center" style="padding-top: 50px;">
            <!-- <h1>Vertically Centered Text</h1> -->
            <h1> Start Your RubyPad Adventure Now </h1>
            <ul style="list-style-type: none">
                <li><a href="/Webpages/Signin"><button type="button" class="btn btn-success" style="margin: 50px; width: 200px; height: 40px;"> Login </button></a></li>
                <li> New User? </li>
                <li><a href="/Webpages/Signup"><button type="button" class="btn btn-info"> Sign up! </button></a></li>
            </ul>
        </div>
    </aside>

   