<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:600|family=Lato">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/charlie/pad.css">
    <link rel="stylesheet" href="/charlie/codemirror.css">
    <link rel="stylesheet" href="/charlie/ambiance.css">
    <link rel="stylesheet" href="/charlie/base16-light.css">

    <script src="/javascript/codemirror.js"></script>
    <script src="/javascript/ruby.js"></script>
  </head>
  <body>

  <div class="container-fluid">
    <nav class="row menuBar">
      <div class="col-lg-1 col-md-1 col-sm-1 noPadding menuButton">
        <h3 class="logo">RubyPad</h3>
      </div>
      <div class="col-lg-1 col-lg-push-8 col-md-1 col-md-push-8 col-sm-1 col-sm-push-8 hidden-xs noPadding menuButton">
        <h3 class="menuFont">Help</h3>
      </div>
      <div class="col-lg-1 col-lg-push-8 col-md-1 col-md-push-8 col-sm-1 col-sm-push-8 hidden-xs noPadding menuButton">
        <h3 class="menuFont">Profile</h3>
      </div>
      <div class="col-lg-1 col-lg-push-8 col-md-1 col-md-push-8 col-sm-1 col-sm-push-8 hidden-xs noPadding menuButton">
        <h3 class="menuFont">Projects</h3>
      </div>

    </nav>

    <div class="row mainBoxDiv">
      <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs noPadding maxHeight ">
        <div class="memberBar maxHeight">
          <ul class="list-group maxHeight">
            <li class="list-group-item">first</li>
            <li class="list-group-item">second</li>
            <li class="list-group-item">third</li>
            <li class="list-group-item">fourth</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7 noPadding maxHeight">
        <div id="input" class="inputBoxDiv">
        
        </div>
        <div class="row inputButtonsSpace">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 noPadding center-v">
            <button id="runcode" class="inputButtons ">Run</button>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 noPadding center-v">
            <button id="disconnect" class="inputButtons ">Disconnect</button>
          </div>
        </div>
        <div id="output" class="outputBoxDiv">
          
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 noPadding maxHeight">
        <div id="chatBox" class="chatBoxDiv">
          
        </div>
        <div class="chatInputBox">
          <input type="text" id="message" class="chatInput" placeholder="Type a message..."></input>
        </div>

      </div>
    </div>
  </div>
   
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
    var inputCodeMirror = CodeMirror(document.getElementById("input"), {
      value: "Input",
      mode:  "ruby",
      theme: "ambiance",
      lineNumbers: true,

    });
    inputCodeMirror.setSize("100%", "100%");
    $('#putstuff').on('click', function() {
      var input = inputCodeMirror.setValue("harshhhh");
      console.log(input)
    });

  </script>
  <script>
    var outputCodeMirror = CodeMirror(document.getElementById("output"), {
      value: "output",
      mode:  "ruby",
      theme: "ambiance",
      readOnly: true,
      lineNumbers: true
    });
    outputCodeMirror.setSize("100%", "100%");

  </script>
  <script>
    var chatCodeMirror = CodeMirror(document.getElementById("chatBox"), {
      theme: "base16-light",
      readOnly: true
    });
    chatCodeMirror.setSize("100%", "100%");
  </script>
  <script src="/javascript/bootstrap.min.js"></script>
  <script src="/javascript/socket.js"></script>
  <script src="/javascript/pad_script.js"></script>
  <script>
    var socket, host;      
    host = "ws://localhost:3001";

    //Entry
    $(function() {
      connect(host);
      });  
    </script>
  </body>
</html>