
<body style="background-image: url(../pics/bruh.jpg); background-position: center; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover;"

  <div class="row">
    <div class="col-lg-7">
      <div class="dropdown" style="padding: 5px;">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          My Projects
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li class="dropdown-header" style="text-align: center; color: blue; font-size: 20px;"> List of Projects </li>
          <li><a href="#">- Project 1</a></li>
          <li><a href="#">- Project 2</a></li>
          <li><a href="#">Project 3</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#"><button class="btn btn-success">Add a new project</button></a></li>
        </ul>
      </div>
    </div>

    <div class="col-lg-5">
      <ul style="color:white;">  
        <li> hi</li>
        <li> hi</li>
        <li> hi</li>
      </ul>
    </div>
  </body>

</body>