
<script src="http://code.jquery.com/jquery-2.2.2.min.js"></script>

<!--link href="jquery-ui.css" rel="stylesheet"-->
<script src="/javascript/jquery.validate.js"> </script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="http://vsn4ik.github.io/bootstrap-submenu/dist/css/bootstrap-submenu.min.css">

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="http://vsn4ik.github.io/bootstrap-submenu/dist/js/bootstrap-submenu.min.js"></script>

<script src="/javascript/application.js"> </script>

<script>
  $(document).ready(function() {
    $('[data-submenu]').submenupicker();
  });
</script>

<style>
  .container-table {
    height: 70%;
  }
  .container-table {
    display: table;
  }
  .vertical-center-row {
    display: table-cell;
    vertical-align: middle;
  }
</style>

<body style="background-image: url(../alex/pics/bruh.jpg); background-position: center; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover;">


<div class="container">
    <nav class="row">
      <div class="col-lg-7">
       <div class="dropdown m-b">
        <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" data-submenu>
          My Projects <span class="glyphicon glyphicon-tasks"></span>
        </button>


        <ul class="dropdown-menu">
          <li class="dropdown-header">Project List</li>

            <li class="new-project"></li>
          
            <li class="dropdown-divider">
              <div class="divider"></div>
            </li>

            <li class="dropdown-submenu"><a href="" style="text-decoration: none;"> Create New Project </a>
              <ul class="dropdown-menu">             
                <li class="dropdown-header"> New Project </li>
                <div id="create"></div>
                <li><input type="text" id="newProjName" name="title" placeholder="Insert Project Name" ></li> 
                <li><input type="text" id="NewProjDesc" name="description" placeholder="Description"></li>
                <li class="dropdown-divider">
                  <div class="divider"></div>
                </li>
                <button class="btn btn-success center-block"  id="create_proj">Create!</button>                
              </ul>
            </li>

          </ul>

        </div>


      </div>

      <div class="col-lg-5">
        <ul class="nav nav-tabs" style="color:white; font-size: 20px;">  
          <li style="padding-left: 20px;"><a href="#"> About RubyPad </a></li>
          <li style="padding-left: 20px;"><a href="#"> Settings </a></li>
          <li style="padding-left: 20px;"><a href="/Webpages/Signin"> Logout </a></li>
        </ul>
      </div>
    </nav>

    <div class="container container-table">
      <div class="row vertical-center-row">
        <div class="text-center col-md-4 col-md-offset-4" style="color: white; font-size: 50px;">Hello, <%= @user.first_name %></div>
        <div class="text-center col-md-4 col-md-offset-4" style="color: white; font-size: 20px;"> What would you like to work on today? </div>
      </div>
    </div>
  </div>
  <script>
    $('#create_proj').click(function() {

        var res = $.get('/newproj', {user: <%=@user.id%>, name: $('#newProjName').val(), description: $('#NewProjDesc').val()}, function(response) {
        
        var a = JSON.parse(response)
        debugger
        if (a.status == true) {
          var name = a.name
          $(".new-project").append("<li class='dropdown-submenu'>" + name + "</li>"); 
        }
        else {
          console.log(response);
          $("#create").text(response);
        }

      });
    });

    var projList = [];

    function ask_for_project_list(){
      $.get('/list_projects', function(response) {

      });
    };

    $(function(){

    });
    </script>

</body>







