<link rel="stylesheet" href="/stylesheets/bootstrap.css">
<link href="jquery-ui.css" rel="stylesheet">
<script src="/javascript/jquery.validate.js"> </script>
<script src="/javascript/bootstrap.js"> </script>
<script src="/javascript/application.js"> </script>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="http://vsn4ik.github.io/bootstrap-submenu/dist/css/bootstrap-submenu.min.css">

<script src="http://code.jquery.com/jquery-2.2.2.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="http://vsn4ik.github.io/bootstrap-submenu/dist/js/bootstrap-submenu.min.js"></script>

<script>
  $(document).ready(function() {
    $('[data-submenu]').submenupicker();
  });
</script>

<style>
  .container-table {
    height: 70%;
  }
  .container-table {
    display: table;
  }
  .vertical-center-row {
    display: table-cell;
    vertical-align: middle;
  }
</style>

<body style="background-image: url(../alex/pics/bruh.jpg); background-position: center; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover;">


<div class="container">
    <nav class="row">
      <div class="col-lg-7">
       <div class="dropdown m-b">
        <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" data-submenu>
          My Projects <span class="glyphicon glyphicon-tasks"></span>
        </button>

        <ul class="dropdown-menu">
          <li class="dropdown-header">Project List</li>

          <li class="dropdown-submenu"><a href="">Project 1</a>
            <ul class="dropdown-menu">
              <li class="dropdown-header"> Project 1 Members </li>
              <li> Member 1 </li>
              <li> Member 2...</li>
              <li class="dropdown-divider">
                <div class="divider"></div>
              </li>
              <li><a href""><button class="btn btn-success"> Go to Project! </button></a></li>
              <li class="dropdown-divider">
                <div class="divider"></div>
              </li>
              <li class="dropdown-submenu"><a href=""> Add Member </a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">Search for users</li>
                  <li class="dropdown-divider">
                    <div class="divider"></div>
                  </li>
                  <li><input type="text" name="new_member"></li>
                  <li class="dropdown-divider">
                    <div class="divider"></div>
                  </li>
                  <li> ##Implement automatic search to display all users </li>
                </ul>
              </ul>
            </li> 

            <li><a href="">Project 2</a></li>
            <li><a href="">Project 3</a></li>

            <li class="dropdown-divider">
              <div class="divider"></div>
            </li>

            <li class="dropdown-submenu"><a href="" style="text-decoration: none;"> Create New Project </a>
              <ul class="dropdown-menu">
                <li class="dropdown-header"> New Project </li>
                <li><input type="text" name="title" placeholder="Insert Project Name"></li> 
                <li><input type="text" name="description" placeholder="Description"></li>
              </ul>
            </li>

          </ul>

        </div>


      </div>

      <div class="col-lg-5">
        <ul class="nav nav-tabs" style="color:white; font-size: 20px;">  
          <li style="padding-left: 20px;"><a href="#"> About RubyPad </a></li>
          <li style="padding-left: 20px;"><a href="#"> Settings </a></li>
          <li style="padding-left: 20px;"><a href="/Webpages/Signin"> Logout </a></li>
        </ul>
      </div>
    </nav>

    <div class="container container-table">
      <div class="row vertical-center-row">
        <div class="text-center col-md-4 col-md-offset-4" style="color: white; font-size: 50px;">Hello, <%= @user.first_name %></div>
        <div class="text-center col-md-4 col-md-offset-4" style="color: white; font-size: 20px;"> What would you like to work on today? </div>
      </div>
    </div>





  </div>

</body>