<link rel="stylesheet" href="/stylesheets/bootstrap.css">
<link href="jquery-ui.css" rel="stylesheet">
<script src="/javascript/jquery.validate.js"> </script>
<script src="/javascript/bootstrap.js"> </script>
<script src="/javascript/application.js"> </script>


<body style="background-image: url(../alex/pics/bruh.jpg); background-position: center; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover;">


<div class="container">
    <nav class="row">
      <div class="col-lg-7">
        
     
      </div>

      <div class="col-lg-5">
        <ul class="nav nav-tabs" style="color:white; font-size: 20px;">  
          <li style="padding-left: 20px;"><a href="#"> About RubyPad </a></li>
          <li style="padding-left: 20px;"><a href="#"> Settings </a></li>
          <li style="padding-left: 20px;"><a href="#"> Logout </a></li>
        </ul>
      </div>
    </nav>
  </div>




  <header>
    <div class="header-content">
      <div class="header-content-inner">
        <h1><font color="white"> HELLO </font></h1>
      </div>
    </div>
  </header>

</body>