<!doctype html>
<html>
  <head>
  </head>
  <body>


    <section id="code-input" style="background-color: red;">
      <h1> Enter code here </h1>
      <textarea id="mycode" cols="20">
        
      </textarea>
    </section>

    <button id="runcode">Run code</button>
    <button id="savecode">Save code</button>

    <section id="code-output" style="background-color: blue;">
      <h1> See output here </h1>
    </section>

    # WebSockets Chat App
    <section id="chat-log" style="background-color: green;">
    <tbody>
      <tr>
        <td></td>
      </tr>
    </tbody>
    </section>



    <input type="text" id="message">
    <button id="disconnect">Disconnect</button>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="javascript/socket.js"></script>
    <script src="javascript/pad.js"></script>
    <script>
      var socket, host;      
      host = "ws://localhost:3001";

      //Entry
      $(function() {
        connect(host);
      });  
    </script>
  </body>
</html>